*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(220, 220, 220);
}

main{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
}

/* HEADER */
header{
    background-color: white;
    height: 80px;
    padding-top: 15px;
}

#logo{
    padding-left: 20px;
    vertical-align: middle;
}

#text-logo{
    font-size: 40px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#buttom-task{
    border: none;
    background-color: #45abea;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#buttom-section{
    border: solid 1px rgb(186, 186, 186);
    background-color: white;
    padding: 10px;
    color: rgb(176, 176, 176);
    border-radius: 5px;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* Bottoni */
.container{
    width: 70%;
    margin: auto;
}

.box-button{
    padding-left: 50px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 40px;
    background-color: white;
    width: 100%;
    border-radius: 4px;
}
/* Fine Bottoni */

/* LISTE */
.box-liste{
    padding: 50px;
    margin-top: 3px;
    background-color: white;
    width: 100%;
    border-radius: 4px;
}

ul{
    list-style-type: none;
}

.title-task{
    color: rgb(69, 69, 69);
    font-size:22px;
    font-weight: bold;
}

.task {
    margin-top:20px;
}

.descrizione-task {
    margin-left: 10px;
    font-size: 18px;
}
.space-title-task{
    margin-top: 35px;
}

/* Simoli v e x */
.eseguito {
    border: 1px green solid;
    color: green;
}
.non-eseguito {
    border: 1px red solid;
    color: red;
}
.cerchio {
    border-radius: 100%;
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
}
/* Fine LISTE */

/* Etichette colorate */
.label {
    margin-left: px;
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 10px;
}
.label-editorial{
    background-color: #45abea;
}

.label-goals{
    background-color:#996ee3;
}

.label-recruiting{
    background-color: #5ebda5;
}

.label-mobile{
    background-color:#f29e33;
}
 
.label-website{
    background-color:#d863a1;
}

.label-sales{
    background-color:#b0c926;
}
/* Fine Etichette colorate */

